@import './layout/sidebar'; // 侧边栏样式
@import './views/login'; // 登录页样式


// 主容器样式
#de-app-container {
  display: flex;
  min-height: 100vh; /* 使容器占满整个视口高度 */
}

// 路由菜单样式
.router-link-active {
  text-decoration: none;
  color: #fff;
}
a {
  text-decoration: none;
  color: #fff;
}

